/* COLORS
baby blue - #84D2F6
queen blue #386FA4
baby powder - #FFFFFA
box text  - prussian blue - #112A46 */


body {
  color: #FFFFFA;
  background: linear-gradient(to bottom right, #386FA4, #84D2F6);
  background-attachment: fixed;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  text-align: center;
}
.container-cities {
  display: flex;
  justify-content: space-around;
}
.container-cities h4 {
  text-align: center;
  margin-bottom: 0px;
}

.city-weather-information {
  list-style-type: none;
  margin: 0 0;
  display: flex;
  flex-direction: column;
}
li {
  padding-bottom: 5px;
}
.weather-type-icon {
  height: 100%;
  padding: 0;
}

.city1, .city2, .city3 {
  box-sizing: border-box;
  color: #112A46;
  width: 150px;
  height: 200px;
  background: #CCDFE3;
  border: 1px solid #112A46;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(17, 42, 70, 2);
  transition: ease-out transform  0.15s ;
}

.city1:hover, .city2:hover, .city3:hover {
  transform: scale(1.04);
  color: #FFFFFA;
}
/* .city1-name:hover, .city2-name:hover, .city3-name:hover {
  color: #FFFFFA;
} */
